
.title {
  display: flex;
  flex-wrap: wrap;

  @include title-2;

  @include media-down(sm) {
    display: none;
  }

  &--mobile {
    display: none;

    @include media-down(sm) {
      display: flex;
    }
  }
 }


 [data-title-line-wr] {
  display: inline-block;
  overflow: hidden;
}

[data-text-appear-wr],
[data-btn-appear-wr],
[data-appear-card-container] {
  overflow: hidden;
}

[data-btn-appear-wr] {
  @include media-down(sm) {
    overflow: visible;
  }
}

[data-title-line] {
  display: inline-block;
  padding-bottom: 5px;
}

[data-media-fix] {
  position: position absolute;
}

[data-appear-slider] {
  will-change: opacity;
}