
.card {
  background-color: $c-white;
  border-radius: $s-border-radius;
  padding: px-to-vw(24);
  position: relative;

  &:hover {
    .card__arrow {
      border-color: $c-accent;
      background-color: $c-accent;
    }

    .card__media {
      img {
        transform: scale(1.1);
      }
    }
  }

  @include media-down(sm) {
    border-radius: $s-border-radius-mob;
    padding: px-to-vw(16);
  }
}

.card__title, 
.card__text {
  @include title-5;

  color: $c-text-dark;
}

.card__text { 
  margin-top: px-to-vw(4);
}

.card__description {
  @include description-medium ;

  color: $c-gray-2;
}

.card__media {
  display: flex;
  overflow: hidden;

  img {
    transition: transform 0.2s ease-in;
    max-width: px-to-vw(240);
    margin: auto;
  }
}

.card__type {
  margin-bottom: px-to-vw(20);
}

.card__type-text {
  @include description-medium;

  color: $c-text-dark;
  display: block;
  margin-bottom: px-to-vw(8);
}

.card__type-btn {
  @include button-reset-styles;
  @include description-small;

  padding: px-to-vw(3) px-to-vw(10);
  border-radius: 8px;
  color: $c-text-dark;
  background-color: transparent;
  border: 1px solid $c-text-gray;
  transition: background-color 0.2s ease-in, border-color 0.2s ease-in;

  &.is-active,
  &:hover {
    background-color: $c-brown;
    border-color: $c-brown;
  }
}

.card__arrow {
  width: px-to-vw(38);
  height: px-to-vw(38);
  border: 1px solid $c-text-gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: px-to-vw(24);
  right: px-to-vw(24);
  transition: background-color 0.2s ease-in, border-color 0.2s ease-in;

  img {
    max-width: px-to-vw(9);
    max-height: px-to-vw(9);
  }

  @include media-down(sm) {
    bottom: px-to-vw(16);
    right: px-to-vw(16);
  }
}