$column-width-1: 40.5%;
$column-width-2: 20.4%;
$column-width-3: 29%;

.footer__container {
  @include container;
}

.footer__content {
  display: flex;
  padding: px-to-vw(60) 0;
  border-top: px-to-vw(1) solid $c-gray-line;
  border-bottom: px-to-vw(1) solid $c-gray-line;

  @include media-down(sm) {
    flex-direction: column;
    padding: px-to-vw(40) 0;
  }
}

.footer__title {
  @include title-4;

  margin-bottom: px-to-vw(32);

  @include media-down(sm) {
    margin-bottom: px-to-vw(20);
  }
}

.footer__content-links {
  width: $column-width-1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media-down(sm) {
    width: 100%;
  }
}

.footer__content-links__logo {
  img {
    width: px-to-vw(120);
  }

  @include media-down(sm) {
    margin-bottom: px-to-vw(32);
  }
}

.footer__content-links__icons {
  display: flex;

  @include media-down(sm) {
    margin-bottom: px-to-vw(40);
  }
}

.footer__content-links__icon {
  width: px-to-vw(51);
  height: px-to-vw(51);
  border-radius: 50%;
  background-color: transparent;
  border: px-to-vw(1) solid $c-text-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: px-to-vw(8);
  transition: 0.2s background-color ease-in, 0.2s border-color ease-in;

  svg {
    height: px-to-vw(18);
    width: px-to-vw(14);

    path {
      transition: 0.2s stroke ease-in;
      stroke: $c-text-dark;
    }
  }

  &:hover {
    background-color: $c-text-dark;
    border-color: $c-text-dark;

    svg {
      path {
        stroke: $c-primary;
      }
    }
  }

  &:last-child {
    margin-right: 0;
  }

  @include media-down(sm) {
    background-color: transparent;
    border: px-to-vw(1) solid $c-text-gray;
    width: px-to-vw(41);
    height: px-to-vw(41);

    svg {
      height: px-to-vw(18);
      width: px-to-vw(18);

      path {
        stroke: $c-text-dark;
        stroke-width: px-to-vw(2);
      }
    }
  }
}

.footer__content-nav {
  width: $column-width-2;

  @include media-down(sm) {
    width: 100%;
    order: 0;
  }
}

.footer__content-info {
  width: $column-width-3;

  @include media-down(sm) {
    width: 100%;
    order: 3;
  }
}

.footer__content-contact {
  @include media-down(sm) {
    order: 2;
  }
}

.footer__content-info__map {
  margin-bottom: px-to-vw(74);

  @include media-down(sm) {
    margin-bottom: 0;
  }
}

.footer__content-nav,
.footer__content__address-mobile,
.footer__content-contact {
  @include media-down(sm) {
    margin-bottom: px-to-vw(32);
  }
}

.footer__content-nav__item,
.footer__content-info__map-item,
.footer__content-contact__item {
  margin-bottom: px-to-vw(16);

  &:last-child {
    margin-bottom: px-to-vw(0);
  }

  @include media-down(sm) {
    margin-bottom: px-to-vw(12);

    &:last-child {
      margin-bottom: px-to-vw(0);
    }
  }
}

.footer__content-nav__item-link,
.footer__content-info__map-link,
.footer__content-contact__link {
  @include link-text;

  color: $c-text-dark;
  transition: color 0.2s ease-in;

  &:hover {
    color: $c-text-gray;
  }
}

.footer__content-info__address {
  address {
    @include link-text;

    width: 63%;
    font-style: normal;
  }

  @include media-down(sm) {
    display: none;
  }
}

.footer__content__address-mobile {
  display: none;

  @include media-down(sm) {
    display: block;
    width: 80%;
    order: 1;

    address {
      @include link-text;

      font-style: normal;
    }
  }
}

.footer__bottom {
  padding: px-to-vw(20) 0;
  display: flex;

  @include media-down(sm) {
    flex-direction: column;
  }
}

.footer__bottom-item {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -.02em;
  font-size: px-to-vw(14);
  color: $c-text-dark;

  &:nth-child(1) {
    width: $column-width-1;
  }

  &:nth-child(2) {
    width: $column-width-2;
  }

  &:nth-child(3) {
    width: 26%;
  }

  &:nth-child(4) {
    margin-left: auto;
  }

  @include media-down(sm) {
    &:nth-child(n) {
      width: 100%;
    }

    margin-bottom: px-to-vw(12);

    &:last-child {
      margin-bottom: 0;
    }
  }
}