.links {
  display: flex;
  margin-top: px-to-vw(32);
  margin-bottom: px-to-vw(80);
  color: $c-gray-2;

  @include media-down(sm) {
    margin-top: px-to-vw(20);
    margin-bottom: px-to-vw(40);
  }
}

.links__item {
  color: inherit;
  display: block;
  margin-right: px-to-vw(8);
  font-size: px-to-vw(14);
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -.02em;
  
  &.is-active {
    color: $c-text-dark;
  }
}