.point-card {
  background-color: $c-white;
  padding: px-to-vw(38) px-to-vw(24) px-to-vw(24);
  min-height: px-to-vw(354);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: $s-border-radius;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: px-to-vw(24);
    left: px-to-vw(24);
    width: px-to-vw(14);
    height: px-to-vw(14);
    border-radius: 50%;
    background-color: $c-text-dark;
  
    @include media-down(sm) {
      width: px-to-vw(12);
      height: px-to-vw(12);
      top: px-to-vw(16);
      left: px-to-vw(16);
    }
  }

  @include media-down(sm) {
    border-radius: $s-border-radius-mob;
    min-height: px-to-vw(320);
    padding: px-to-vw(28) px-to-vw(16) px-to-vw(16);
  }

  &--big-space {
    .point-card__text {
      @include media-down(sm) {
        margin-top: px-to-vw(80);
      }
    }
  }
}

.point-card__media {
  display: flex;
  margin: auto;

  img {
    margin: auto;
    max-width: px-to-vw(100);
    width: 100%;
  }

  @include media-down(sm) {
    img {
      max-width: px-to-vw(88);
    }
  }
}

.point-card__title {
  @include title-4;

  margin-top: px-to-vw(40);

  @include media-down(sm) {
    margin-top: px-to-vw(32);
    margin-bottom: px-to-bw(80); 
  }

  &--no-margin {
    margin-top: 0;
  }
}

.point-card__text {
  @include paragraf-small;

  margin-top: auto;
  color: $c-gray-2;
}