.text-editor {
  h3 {
    @include title-3;

    margin-bottom: px-to-vw(24);
  }

  h4 {
    @include title-4;

    margin-bottom: px-to-vw(24);
    margin-top: px-to-vw(40);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include media-down(sm) {
      margin-bottom: px-to-vw(16);
      margin-top: px-to-vw(32);
    }
  }

  p {
    margin-bottom: px-to-vw(15); 

    @include media-down(sm) {
      margin-bottom: px-to-vw(13); 

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  li {
    margin-bottom: px-to-vw(13); 

    @include media-down(sm) {
      margin-bottom: px-to-vw(13); 

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  p,
  li {
    @include paragraf-small; 

    color: $c-gray-2;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    list-style-type: disc; 
  }

  ul, ol {
    color: $c-gray-2; 
    margin-left: px-to-vw(22);
    margin-bottom: px-to-vw(24);
  }


  table {
    width: 100%;
    border-collapse: collapse; 
    margin-bottom: px-to-vw(28);

    &.desktop {
      margin-bottom: px-to-vw(81);
    }

    tr {
      border-top: px-to-vw(1) solid $c-gray-line; 

      &:first-child {
        border-bottom: px-to-vw(1) solid $c-gray-line; 
      }
    }

    td {
      @include paragraf-small;

      padding: px-to-vw(11) 0 px-to-vw(13);
      vertical-align: middle;
      color: $c-gray-2;

      &:last-child {
        text-align: right;
      }

      a {
        @include paragraf-small;

        justify-content: end;
        display: flex;
        align-items: center;
        color: $c-text-dark;
    
        svg {
          margin-right: px-to-vw(8);
          width: px-to-vw(24);
          height: px-to-vw(24);
        }
      }

      @include media-down(sm) {
        width: 58%;
        padding-bottom: px-to-vw(14);
        vertical-align: top;
      }
    }
  }

  .desktop {
    @include media-down(sm) {
      display: none;
    }
  }


  &--big-text {
    p {
      margin-bottom: px-to-vw(20)
    }
    
    p, ul, li {
      @include paragraf-big;
    }
  }
}