.about-company__title {
  @include title-with-text;  

  margin-bottom: px-to-vw(45);

  span {
    margin-right: 34%;
  }

  &--mobile {
    display: none;
  }

  @include media-down(sm) {
    display: none;
    margin-bottom: px-to-vw(20);

    &--mobile {
      display: block;
    }
  }
}

.about-company {
  background-color: $c-accent;
  padding-top: $s-space-desktop;
  padding-bottom: $s-space-desktop;

  @include media-down(sm) {
    padding-top: $s-space-mobile;
    padding-bottom: $s-space-mobile;
  }
}

.about-company__container {
  @include container;
}

.about-company__content-wr {
  width: 73%;
  display: flex;

  @include media-down(sm) {
    width: 100%;
  }
}

.about-company__content {
  margin-left: auto;
  width: 44%;

  @include media-down(sm) {
    width: 100%;
  }
}

.about-company__content-text {
  @include title-4;

  margin-bottom: px-to-vw(40);
}

.about-company__content-btn {
  @include button-border;

  max-width: px-to-vw(348);

  &::after {
    background-color: $c-white;
  }
}