.analogs {
  position: static;
  margin: $s-space-desktop 0 px-to-vw(340); 

  @include media-down(sm) {
    margin: $s-space-mobile 0 ;
  }
}

.analogs__container { 
  @include container;
}

.analogs__title {  
  margin-bottom: px-to-vw(60);

  @include media-down(sm) {
    margin-bottom: px-to-vw(40);
  }
}

.analogs__title-subtitle {  
  margin-right: px-to-vw(435);

  @include media-down(sm) {
    margin-right: 0;
    margin-bottom: px-to-vw(24);
  }
}

.analogs__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: px-to-vw(-12); 
  margin-right: px-to-vw(-12); 
  margin-bottom: px-to-vw(48);

  @include media-down(sm) {
    margin-left: 0; 
    margin-right: 0; 
    margin-bottom: px-to-vw(40);
  }
}

.analogs__item {
  width: calc(20% - 24 * var(--fz));
  margin: 0 px-to-vw(12) px-to-vw(12);

  &:nth-child(1) {
    margin-right: calc(20% + 12 * var(--fz));
  }

  @include media-down(sm) {
    width: 100%;
    margin: 0 0 px-to-vw(20) 0;

    &:nth-child(1) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.analogs__btn {
  max-width: px-to-vw(348);
  margin: auto;
}