.article__container {
  @include container;
}

.article__header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: px-to-vw(40);

  @include media-down(sm) {
    flex-direction: column;
    margin-bottom: px-to-vw(32);
  }
}

.article__header-title {
  @include title-1;

  width: 80%;

  &--full-width {
    width: 100%;
  }

  @include media-down(sm) {
    width: 100%;
  }
}

.article__links {
  display: flex;
  align-items: center;
  margin-bottom: px-to-vw(7);

  &--mobile {
    display: none;
  }

  @include media-down(sm) {
    display: none;

    &--mobile {
      display: flex;
      margin-bottom: px-to-vw(110);
    }
  }
}

.article__back {
  color: inherit;
  display: flex;
  align-items: center;
  margin-bottom: px-to-vw(41);
  font-weight: 500;
  font-size: px-to-vw(14);
  line-height: 150%;
  letter-spacing: -.02em;

  img {
    transform: rotate(180deg);
    margin-right: px-to-vw(14);
  }

  @include media-down(sm) {
    margin-bottom: px-to-vw(24);

    img {
      margin-right: px-to-vw(8);
    }
  }
}

.article__links-icon {
  height: px-to-vw(39); 
  width: px-to-vw(39);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: px-to-vw(1) solid $c-gray-line;
  margin-right: px-to-vw(14);
  transition: border-color 0.2s ease-in, background-color 0.2s ease-in;

  &:last-child {
    margin-right: 0;
  }

  svg {
    height: px-to-vw(17);
    width: px-to-vw(21);

    path {
      transition: stroke 0.2s ease-in;
      stroke: $c-text-dark;
    }
  }

  &:hover {
    border-color: $c-text-dark;
    background-color: $c-text-dark;

    svg {  
      path {
        stroke: $c-white;
      }
    }
  }

  @include media-down(sm) {
    height: px-to-vw(33); 
    width: px-to-vw(33);
    margin-right: px-to-vw(10);
    border-color: $c-gray-2;

    svg {
      max-height: px-to-vw(15);
      max-width: px-to-vw(14);
    }
  }
}

.article__links-title {
  @include paragraf-small;

  color: $c-gray-2;
  margin-right: px-to-vw(22);

  @include media-down(sm) {
    margin-right: px-to-vw(20);
    margrin-bottom: 0;
  }
}

.article__time {
  @include paragraf-small;

  display: block;
  color: $c-gray-2;
  margin-bottom: px-to-vw(32);

  @include media-down(sm) {
    margin-bottom: px-to-vw(20);
  }
}

.article__media {
  display: flex;
   
  img {
    border-radius: $s-border-radius;
  }

  @include media-down(sm) {
    margin-bottom: px-to-vw(20);

    img {
      height: px-to-vw(320);
      width: 100%;
      object-fit: cover;
      border-radius: $s-border-radius-mob;
    }
  }
}

.article__content {
  max-width: px-to-vw(1092);
  margin: px-to-vw(80) auto $s-space-desktop;

  @include media-down(sm) {
    margin-top: px-to-vw(40);
    margin-bottom: $s-space-mobile;
  }
}