.catalog-links {
  margin: $s-space-desktop 0;

  @include media-down(sm) {
    margin: $s-space-mobile 0;
  }
}

.catalog-links__container {
  @include container;
}

.catalog-links__item {
  border-top: px-to-vw(1) solid $c-gray-line;

  &:last-child {
    border-bottom: px-to-vw(1) solid $c-gray-line;
  }

  @include media-down(sm) {
    &:first-child {
      border-top: none;
    }
  }
}

.catalog-links__title-mobile {
  @include description;

  display: none;

  @include media-down(sm) {
    display: block;
    margin-bottom: px-to-vw(8);
  }
}

.catalog-links__item-link {
  display: flex;
  align-items: center;
  padding: px-to-vw(32) 0 px-to-vw(40);
  transition: 0.2s padding ease-in;
  position: relative;

  &::before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: $c-accent;
    z-index: 0;
    transition: 0.3s height ease-in;
  }

  &:hover {

    &::before {
      height: 100%;
    }

    .catalog-links__item-text {
      color: $c-text-dark;

      &:first-child {
       left: px-to-vw(40);
      }
    }

    .catalog-links__item-circle {
      background-color: $c-white;
      border-color: $c-white;
      right: px-to-vw(40);
    }

  }

  @include media-down(sm) {
    align-items: flex-end;
    padding: px-to-vw(16) 0;

    &:hover {
      padding-left: 0;
      padding-right: 0;
  
      &::before {
        height: 0;
      }
  
      .catalog-links__item-circle {
        background-color: transparent;
        border-color: transparent;
      }
    }
  }
}

.catalog-links__item-text {
  @include title-2;

  color: $c-text-gray;

  &:first-child {
    position: absolute;
    left: 0;
  }

  &:nth-child(2) {
    position: relative;
    margin-left: px-to-vw(744);
    z-index: 2;
  }
  
  transition:color 0.2s ease-in, left 0.2s ease-in;

  span {
    @include description;

    position: absolute;
    top: 0;
    right: px-to-vw(-25);
    transform: translateX(50%);
  }

  @include media-down(sm) {
    color: $c-text-dark-1;
    max-width: px-to-vw(290);

    &:nth-child(2) {
      margin-left: 0;
    }

    span {
      display: none;
    }

    &--num {
      display: none;
    }
  }
}

.catalog-links__item-circle {
  width: px-to-vw(60);
  height: px-to-vw(60);
  border-radius: 50%;
  border: px-to-vw(1) solid $c-gray-line;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  margin-left: auto;
  position: absolute;
  right: 0;
  transition: background-color 0.2s ease-in, border-color 0.2s ease-in, right 0.2s ease-in; 

  @include media-down(sm) {
    position: static;
    width: auto;
    height: auto;
    border-color: transparent;
  }
}

.catalog-links__item-circle-desktop {
  display: block;

  @include media-down(sm) {
    display: none;
  }
}

.catalog-links__item-circle-mob {
  display: none;
  
  @include media-down(sm) {
    display: block;
    width: px-to-vw(17);
    max-height: 100%;
    margin-left: px-to-vw(7); 
  }
}

.catalog-links__btn {
  @include button-border;

  max-width: px-to-vw(348);
  margin: px-to-vw(74) 0 0 px-to-vw(746);

  @include media-down(sm) {
    margin: px-to-vw(40) auto 0;
  }
}