.company-news {
  margin-top: $s-space-desktop;
  margin-bottom: $s-space-desktop;

  @include media-down(sm) {
    margin-top: $s-space-mobile;
    margin-bottom: $s-space-mobile;
  }

  .splide__arrows {
    top: calc(38 * var(--fz));
    right: calc(42 * var(--fz));
    position: absolute;
    transform: translateY(-50%);
  }

  .splide__arrow {
    transition: background-color 0.2s ease-in, border-color 0.2s ease-in;

    &:hover {
      background-color: $c-white;
      border-color: $c-white;
    }
  }
}

.company-news__container {
  @include container;

  position: relative;
}

.company-news__title {
  @include title-2;

  margin-bottom: px-to-vw(60);

  @include media-down(sm) {
    margin-bottom: px-to-vw(40);
  }
}

.company-news__slider {
  position: static;
}

.company-news__track {
  margin-right: px-to-vw(-42);
  overflow: hidden;

  @include media-down(sm) {
    margin-right: px-to-vw(-16);
  }
}

.company-news__list {
  margin-right: px-to-vw(42) !important;

  @include media-down(sm) {
    margin-right: px-to-vw(16) !important;
  }
}

.company-news__list-item {
  margin-right: px-to-vw(24) !important;

  @include media-down(sm) {
    margin-right: px-to-vw(20) !important;
  }
}

.company-news__link {
  display: flex;
  max-height: px-to-vw(549);
  border-radius: $s-border-radius;
  overflow: hidden;
  margin-bottom: px-to-vw(20);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.2s ease-in;
  }

  &:hover {
    &::after {
      background-color: rgba(0,0,0,0.32);
    }

    .company-news__circle {
      opacity: 1;
    }
  }

  @include media-down(sm) {
    border-radius: $s-border-radius-mob;
    margin-bottom: px-to-vw(12);
  }
}

.company-news__link-img {
  height: 100%;
  width: 100%;
  object-fit: cover;

  @include media-down(sm) {
    height: px-to-vw(240);
  }
}

.company-news__circle {
  position: absolute;
  bottom: px-to-vw(24);
  right: px-to-vw(24);
  width: px-to-vw(54);
  height: px-to-vw(54);
  opacity: 0;
  border-radius: 50%;
  background-color: $c-accent;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in;

  img {
    height: px-to-vw(9);
    width: px-to-vw(9);
  }
}

.company-news__list-item__title {
  @include title-3;

  width: 73%;
  margin-bottom: px-to-vw(12);

  @include media-down(sm) {
    width: 100%;
  }
}

.company-news__list-item__text {
  @include paragraf-small;

  color: $c-gray-2;
  width: 71%;

  @include media-down(sm) {
    width: 100%;
  }
}

.company-news__btn {
  max-width: px-to-vw(348);
  margin: px-to-vw(60) auto 0;

  @include media-down(sm) {
    margin-top: px-to-vw(40);
  }
}

.company-news__progress {
  display: none;

  @include media-down(sm) {
    display: block;
    margin-top: px-to-vw(32);
  }
}