.economy__container {
  @include container;

  padding-top: $s-space-desktop;
  padding-bottom: px-to-vw(60);
  text-align: center;

  @include media-down(sm) {
    padding-top: $s-space-mobile;
    padding-bottom: $s-space-mobile;
    text-align: left;
  }
}

.economy__text {
  @include description;

  display: block;
  margin-bottom: px-to-vw(40);

  @include media-down(sm) {
    margin-bottom: px-to-vw(24);
  }
}

.economy__title {
  @include title-2;

  max-width: px-to-vw(1359);
  margin:0 auto px-to-vw(64);

  @include media-down(sm) {
    margin-bottom: px-to-vw(32);
  }
}

.economy__media {
  width: px-to-vw(820);
  height: px-to-vw(680);
  margin: auto;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $s-border-radius;
  }

  @include media-down(sm) {
    width: 100%;
    height: px-to-vw(320);
    border-radius: $s-border-radius-mob;
  }
}

