.error__container {
  @include container;

  margin-bottom: $s-space-desktop;
  text-align: center;

  @include media-down(sm) {
    margin-bottom: $s-space-mobile;
    text-align: left;
  }
}

.error__content-title {
  @include title-1;

  margin-bottom: px-to-vw(24);

  @include media-down(sm) {
    margin-bottom: px-to-vw(16);
  }
}

.error__content-text {
  @include description;

  color: $c-gray-2; 

  a {
    text-decoration: underline;
    display: inline-block;
    color: $c-text-dark;
  }
}