.experience {
  margin-top: $s-space-desktop;
  margin-bottom: $s-space-desktop;

  @include media-down(sm) {
    margin-top: $s-space-mobile;
    margin-bottom: $s-space-mobile;
  }
}

.experience__container {
  @include container;
}

.experience__title {
  margin-bottom: px-to-vw(60);

  @include media-down(sm) {
    padding-top: px-to-vw(20);
    margin-bottom: px-to-vw(40);
  }
} 

.experience__title-subtitle {
  margin-right: 30%;
}
