.hero__container {
  @include container;

  padding-bottom: px-to-vw(42);
  position: relative;

  @include media-down(sm) {
    padding-bottom: 0;
  }
}

.hero__slider {
  background-image: url('../assets/images/hero-home-2x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: px-to-vw(212) px-to-vw(52);
  height:  calc(100vh - 150 * var(--fz));
  border-radius: $s-border-radius;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include media-down(sm) {
    padding: px-to-vw(40) px-to-vw(16)  px-to-vw(74);
    overflow: visible;
    margin-left: px-to-vw(-16);
    margin-right:px-to-vw(-16);
    height:  calc(100vh - 69 * var(--fz));
    background-image: url('../assets/images/hero-slide-mob.jpg');
  }
}

.hero__slider-title {
  @include title-1;

  color: $c-white;
  width: 50%;
  margin-bottom: px-to-vw(24);

  @include media-down(sm) {
    width: 100%;
    margin-bottom: px-to-vw(16);
  }
}

.hero__slider-text {
  @include paragraf-big;

  color: $c-white;
  width: 35%;
  margin-bottom: px-to-vw(60);

  @include media-down(sm) {
    width: 100%;
  }
}

.hero__slider-btn {
  @include button-bg($c-white);

  max-width: px-to-vw(348);

  @include media-down(sm) {
    width: 100%;
    margin-top: auto;

    span {
      transform: translateX(0);
      &::after,
      &::before {
        display: none;
      }
    }

    &:hover {
      span {
        transform: translateX(0);
      }
    }
  }
}

.hero__line {
  height: 1px;
  left: 0;
  width: px-to-vw(282);
  background-color: #606060;
  position: absolute;
  bottom: px-to-vw(106);
  margin: 0 px-to-vw(126);

  @include media-down(sm) {
    bottom: px-to-vw(25);
    margin: 0 px-to-vw(35);
  }

  &::after,
  &::before {
    color: $c-white;
    font-size: px-to-vw(18);
    position: absolute;
    top: 1px;
    transform: translateY(-50%); 

    @include media-down(sm) {
      font-size: px-to-vw(12);
    }
  }

  &::after {
    content: '02';
    right: px-to-vw(-35);

    @include media-down(sm) {
      right: px-to-vw(-19);
    }
  }
  
  &::before {
    content: '01';

    left: px-to-vw(-35);

    @include media-down(sm) {
      left: px-to-vw(-19);
    }
  }
}

.hero__line-mesure {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  background-color: $c-white;
  height: 1px;
}