.hero {
  .splide__arrows {
    position: absolute;
    right: px-to-vw(52);
    bottom: px-to-vw(38);

    svg path {
      stroke: $c-white;
    }
  }

  .splide__arrow {
    &:hover {
      background-color: $c-white;

      svg path {
        stroke: $c-text-dark;
      }
    }
  }

  @include media-down(sm) {
    .splide__arrows {
      display: none;
    }
  }
}

.hero__container {
  @include container;

  margin-bottom: px-to-vw(42);
  position: relative;

  @include media-down(sm) {
    margin-bottom: 0;
  }
}

.hero__track  {
  border-radius: $s-border-radius;
}

.hero__slide {
  position: relative;
  padding: px-to-vw(52);
  height:  calc(100vh - 150 * var(--fz));
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: px-to-vw(650);

  @include media-down(sm) {
    min-height: 100%;
    padding: px-to-vw(40) px-to-vw(16)  px-to-vw(74);
    overflow: visible;
    justify-content: flex-start;
    height:  calc(100vh - 69 * var(--fz));
  }
}

.hero__slider-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $s-border-radius;
  z-index: -1;

  &--mobile {
    display: none;
  }

  @include media-down(sm) {
    display:  none;

    &--mobile {
      display: block;
    }
  }
}

.hero__slider-title {
  @include title-1;

  color: $c-white;
  width: 50%;
  margin-bottom: px-to-vw(24);

  @include media-down(sm) {
    width: 100%;
    margin-bottom: px-to-vw(16);
  }
}

.hero__slider-text {
  @include paragraf-big;

  color: $c-white;
  width: 35%;
  margin-bottom: px-to-vw(60);

  @include media-down(sm) {
    width: 100%;
  }
}

.hero__slider-btn-wr {
  overflow: hidden;

  @include media-down(sm) {
    margin-top: auto;
  }
}

.hero__slider-btn {
  @include button-bg($c-white);

  max-width: px-to-vw(348);

  @include media-down(sm) {
    width: 100%;

    span {
      transform: translateX(0);
      &::after,
      &::before {
        display: none;
      }
    }

    &:hover {
      span {
        transform: translateX(0);
      }
    }
  }
}

.hero__line-wr { 
  position: absolute;
  bottom: px-to-vw(62);
  left: 0;
  margin-left: px-to-vw(52);
  width: px-to-vw(348);  

  @include media-down(sm) {
    bottom: px-to-vw(25);
    margin: 0;
    padding-left: px-to-vw(40);
    padding-right: px-to-vw(40);
    width: 100%;
  } 
}

.hero__line {
  width: px-to-vw(282);  
  height: px-to-vw(1);
  background-color: #606060;
  margin: auto;
  position: relative;

  @include media-down(sm) {
    width: 100%;
  }
}

.hero__line-mesure {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  background-color: $c-white;
  height: px-to-vw(1);
}

.hero__line-number {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: $c-white;
  font-size: px-to-vw(18);
  line-height: 130%;
  font-weight: 400;
  letter-spacing: -.03em;

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }

  @include media-down(sm) {
    font-size: px-to-vw(12);

    &--left {
      left: px-to-vw(16);
    }
  
    &--right {
      right: px-to-vw(16);
    }
  }
}