.hero__container {
  @include container;

  margin-bottom: px-to-vw(42);
  position: relative;

  @include media-down(sm) {
    margin-bottom: 0;
  }
}

.hero__slider {
  background-image: url('../assets/images/hero-home-2x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: px-to-vw(212) px-to-vw(52);
  height:  calc(100vh - 150 * var(--fz));
  border-radius: $s-border-radius;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include media-down(sm) {
    padding: px-to-vw(40) px-to-vw(16)  px-to-vw(74);
    overflow: visible;
    margin-left: px-to-vw(-16);
    margin-right:px-to-vw(-16);
    height:  calc(100vh - 69 * var(--fz));
    background-image: url('../assets/images/hero-slide-mob.jpg');
  }
}

.hero__slider-title {
  @include title-1;

  color: $c-white;
  width: 50%;
  margin-bottom: px-to-vw(24);

  @include media-down(sm) {
    width: 100%;
    margin-bottom: px-to-vw(16);
  }
}

.hero__slider-text {
  @include paragraf-big;

  color: $c-white;
  width: 35%;
  margin-bottom: px-to-vw(60);

  @include media-down(sm) {
    width: 100%;
  }
}

.hero__slider-btn {
  @include button-bg($c-white);

  max-width: px-to-vw(348);

  @include media-down(sm) {
    width: 100%;
    margin-top: auto;

    span {
      transform: translateX(0);
      &::after,
      &::before {
        display: none;
      }
    }

    &:hover {
      span {
        transform: translateX(0);
      }
    }
  }
}

.hero__line-wr { 
  position: absolute;
  bottom: px-to-vw(106);
  left: 0;
  margin-left: px-to-vw(94);
  width: px-to-vw(348);  

  @include media-down(sm) {
    bottom: px-to-vw(25);
    margin: 0;
    padding-left: px-to-vw(40);
    padding-right: px-to-vw(40);
    width: 100%;
  } 
}

.hero__line {
  width: px-to-vw(282);  
  height: 1px;
  background-color: #606060;
  margin: auto;
  position: relative;

  @include media-down(sm) {
    width: 100%;
  }
}

.hero__line-mesure {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  background-color: $c-white;
  height: 1px;
}

.hero__line-number {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: $c-white;
  font-size: px-to-vw(18);
  line-height: 130%;
  font-weight: 400;
  letter-spacing: -.03em;

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
  }

  @include media-down(sm) {
    font-size: px-to-vw(12);

    &--left {
      left: px-to-vw(16);
    }
  
    &--right {
      right: px-to-vw(16);
    }
  }
}