

.tabs {
  max-width: px-to-vw(1452);
  margin: px-to-vw(80) auto $s-space-desktop;

  @include media-down(sm) {
    margin: px-to-vw(40) auto $s-space-mobile;
  }
}

.tabs__header {
  margin-bottom: px-to-vw(40);
  border-bottom: px-to-vw(1) solid $c-gray-line;

  @include media-down(sm) {
    display: flex;
    width: 100%;
    overflow: auto;
    margin-bottom: px-to-vw(32);
  }
}

.tabs__header-item {
  @include button-reset-styles;
  @include title-4;

  padding: 0 0 px-to-vw(16) 0;
  margin-right: px-to-vw(20);
  color: $c-text-gray;

  &.is-active {
    color: $c-text-dark;
    border-bottom: px-to-vw(1) solid $c-text-dark;
  }

  &:last-child {
    margin-right: 0;
  }

  @include media-down(sm) {
    white-space: nowrap;
  }
}

.tabs__content-tab__item-arrow {
  width: px-to-vw(38);
  height: px-to-vw(38);
  border: px-to-vw(1) solid $c-text-gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in, border-color 0.2s ease-in;

  img {
    max-width: px-to-vw(9);
    max-height: px-to-vw(9);
  }

  @include media-down(sm) {
    width: px-to-vw(28);
    height: px-to-vw(28);
  }
}

.tabs__content-tab__list { 
  display: none;

  &.is-active {
    display: block;
  }

  &--columns {
    &.is-active {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.tabs__content-tab__item {
  &:first-child {
    .tabs__content-tab__item-link {
      padding-top: 0;
    }
  }
}

.tabs__content-tab__item-link {
  padding-top: px-to-vw(16);
  padding-bottom: px-to-vw(16);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: px-to-vw(1) solid $c-gray-line;

  span {
    @include paragraf-small;

    color: $c-gray-2;
  }

  &:hover {
    .tabs__content-tab__item-arrow {
      border-color: $c-accent;
      background-color: $c-accent;
    }

    .card__media {
      img {
        transform: scale(1.1);
      }
    }
  }

  @include media-down(sm) {
    align-items: flex-end;

    span {
      width: 90%;
    }
  }
}

.tabs__content-tab__questions {
  width: 50%;

  @include media-down(sm) {
    width: 100%;
    margin-bottom: px-to-vw(32);
  }
}

.tabs__content-tab__questions-text {
  @include paragraf-small;

  color: $c-gray-2;
}

.tabs__content-tab__form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include media-down(sm) {
    width: 100%
  }
}

.tabs__content-tab__form-form {
  width: 100%;
}

.tabs__content-tab__form-title {
  @include title-4;

  margin-bottom: px-to-vw(14);

  @include media-down(sm) {
    margin-bottom: px-to-vw(12);
  }
}

.tabs__content-tab__form-form {
  label {
    @include paragraf-small;

    color: $c-gray-2;
    display: block;
    max-width: px-to-vw(520);
    margin-bottom: px-to-vw(32);
  }

  textarea {
    @include btn-text;

    width: 100%;
    border-radius: $s-border-radius;
    border: px-to-vw(1) solid $c-text-gray;
    background-color: transparent;
    padding: px-to-vw(21) px-to-vw(24) px-to-vw(27);
    margin-bottom: px-to-vw(40);

    &::placeholder {
      @include btn-text;

      color: $c-text-gray;
    }
  }

  button {
    @include button-bg($c-accent);

    min-width: px-to-vw(348);
    width: auto;
  }

  @include media-down(sm) {
    label {
      margin-bottom: px-to-vw(20);
    }

    textarea {
      padding: px-to-vw(18) px-to-vw(20);
      height: px-to-vw(140);
    }

    button {
      min-width: 100%;
    }
  }
}
