
.ticker {
  margin-bottom: $s-space-desktop;
  overflow: hidden;

  @include media-down(sm) {
    margin-bottom: $s-space-mobile;
  }
}

.ticker__container {
  @include container;

  padding-top: px-to-vw(182);

  @include media-down(sm) {
    padding-top: px-to-vw(50);
  }
}

.ticker__group {
  padding-bottom: px-to-vw(365);
  margin-left:  px-to-vw(-42);
  margin-right: px-to-vw(-42);

  @include media-down(sm) {
    margin-left:  px-to-vw(-16);
    margin-right: px-to-vw(-16);
    padding-bottom: px-to-vw(40);
  }
}

.ticker__media {
  border-radius: $s-border-radius;
  overflow: hidden;

  @include media-down(sm) {
    img {
      height: px-to-vw(320);
      object-fit: cover;
      border-radius: $s-border-radius-mob;
    }
  }
}

.ticker__group-line {
  @include title-2;
  display: flex;
  align-items: center;
  padding: px-to-vw(20) 0;
  border-top: px-to-vw(1) solid $c-gray-line;

  &:last-child {
    border-bottom: px-to-vw(1) solid $c-gray-line;
  }

  span {
    display: flex;
    align-items: center;

    &::after {
      content: '';
      width: px-to-vw(14);
      height: px-to-vw(14);
      background-color: $c-text-dark;
      border-radius: 50%;
      display: inline-block;
      margin: px-to-vw(32);
    }
  }

  @include media-down(sm) {
    padding: px-to-vw(16) 0;

    span {
      &::after {
        margin: px-to-vw(20);
        width: px-to-vw(10);
        height: px-to-vw(10);
      }
    }
  }
}