@import './common/reset.scss';
@import './common/fonts.scss';      
@import './common/config.scss';
@import './common/variables.scss';
@import './common/mixins.scss';
@import './common/general.scss';   
 
@import './libs/splide.scss';         
  
@import './components/header.scss';
@import './components/footer.scss'; 
@import './components/card.scss';  
@import './components/point-card.scss';      
@import './components/point-slider.scss';    
@import './components/links.scss';  
@import './components/pagination.scss';   
@import './components/range.scss';    
@import './components/text-editor.scss';        
@import './components/form.scss';     
@import './components/sidebar.scss';  
   
@import './sections/hero.scss'; 
@import './sections/catalog-links.scss';    
@import './sections/popular-purchase.scss'; 
@import './sections/analogs.scss';  
@import './sections/industry-solutions.scss';
@import './sections/assortiment.scss'; 
@import './sections/ticker.scss';
@import './sections/work-with-us.scss';
@import './sections/clients.scss'; 
@import './sections/about-company.scss';   
@import './sections/company-news.scss';  
@import './sections/innovations.scss';   
@import './sections/experience.scss';  
@import './sections/company-history.scss'; 
@import './sections/why-work.scss'; 
@import './sections/map.scss'; 
@import './sections/catalog.scss'; 
@import './sections/product-info.scss';
@import './sections/product.scss'; 
@import './sections/feedback.scss'; 
@import './sections/analogs-hero.scss'; 
@import './sections/brands.scss'; 
@import './sections/application.scss'; 
@import './sections/analogs-card.scss'; 
@import './sections/analog-info.scss'; 
@import './sections/news.scss'; 

.article__container {
  @include container;
}

.article__header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: px-to-vw(40);

  @include media-down(sm) {
    flex-direction: column;
    margin-bottom: px-to-vw(32);
  }
}

.article__header-title {
  @include title-1;

  width: 80%;

  @include media-down(sm) {
    width: 100%;
  }
}

.article__links {
  display: flex;
  align-items: center;

  &--mobile {
    display: none;
  }

  @include media-down(sm) {
    display: none;

    &--mobile {
      display: flex;
    }
  }
}

.article__links-icon {
  height: px-to-vw(39); 
  width: px-to-vw(39);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: px-to-vw(1) solid $c-gray-line;
  margin-right: px-to-vw(12);
  transition: border-color 0.2s ease-in, background-color 0.2s ease-in;

  &:last-child {
    margin-right: 0;
  }

  svg {
    max-height: px-to-vw(17);
    max-width: px-to-vw(21);

    path {
      transition: stroke 0.2s ease-in;
      stroke: $c-text-dark;
    }
  }

  &:hover {
    border-color: $c-text-dark;
    background-color: $c-text-dark;

    svg {  
      path {
        stroke: $c-white;
      }
    }
  }

  @include media-down(sm) {
    height: px-to-vw(33); 
    width: px-to-vw(33);
    margin-right: px-to-vw(10);
    border-color: $c-gray-2;

    svg {
      max-height: px-to-vw(15);
      max-width: px-to-vw(14);
    }
  }
}

.article__links-title {
  @include paragraf-small;

  color: $c-gray-2;
  margin-right: px-to-vw(12);

  @include media-down(sm) {
    margin-right: px-to-vw(20);
  }
}

.article__time {
  @include paragraf-small;

  display: block;
  color: $c-gray-2;
  margin-bottom: px-to-vw(32);

  @include media-down(sm) {
    margin-bottom: px-to-vw(20);
  }
}

.article__media {
  display: flex;
   
  img {
    border-radius: $s-border-radius;
  }

  @include media-down(sm) {
    margin-bottom: px-to-vw(20);

    img {
      height: px-to-vw(320);
      width: 100%;
      object-fit: cover;
      border-radius: $s-border-radius-mob;
    }
  }
}

.article__content {
  max-width: px-to-vw(1092);
  margin: px-to-vw(80) auto $s-space-desktop;

  @include media-down(sm) {
    margin-top: $s-space-mobile;
    margin-bottom: $s-space-mobile;
  }
}