body {
  font-family: $font-base;
  color: $c-text-dark;
  background-color: $c-primary;
  font-weight: 500;
  width:100vw;   
  overflow-x: hidden;

  &.no-scroll {
    overflow: hidden;
  }
}

button, a {
  cursor: pointer;
}

ul {
  list-style-type: none;
}