body {
  font-family: $font-base;
  color: $c-text-dark;
  background: $c-primary;
  font-weight: 500;
  width:100vw;   
  overflow-x: hidden;
  margin-top: $s-header-height-desktop;
  transition: background 0.5s ease-in-out;

  &.no-scroll {
    overflow: hidden;
  }
}

button, a {
  cursor: pointer;
}

ul {
  list-style-type: none;
}